body{
    background-color:#310033;
    margin-top:300px;
    margin-bottom: 5px;
    margin-right:10px;
    margin-left: 600px;
    }
h1{
        color:#ffff00;
    }
    h2,h3{
        color:#ff3c00;
    }
    
    
    
